.p-addtask {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(#000, 0.4);
    padding: 90px 20px 20px 100px;
    z-index: 100;
    opacity: 0;    
    overflow: hidden;
    animation: fadeOut 0.8s forwards ease;
    &.is-active {
        animation: fadeIn 0.8s forwards ease;
        .p-addtask__block {
            animation: fadeRightIn 0.8s forwards ease;
            animation-delay: 0.2s;
        }
    }
    &__block {
        width: 100%;
        max-width: 700px;
        border-radius: 10px;
        background: #fbfbfb;
        padding-bottom: 100px;
        opacity: 0;
        transform: translateX(100%);
        animation: fadeRightOut 0.8s forwards ease;
        position: relative;      
    }
    &__head {
        border-bottom: 1px solid rgba(#000, 0.2);
        padding: 15px 20px;
        font-size: 1.4rem;
        line-height: 1;
        color: #333;
        position: relative;
        z-index: 2;
    }
    &__body {
        padding: 30px 20px 50px;
        height: 100%;
        overflow-x: auto;
        position: relative;
        z-index: 1;
    }
    &__footer {
        width: 100%;
        border-top: 1px solid rgba(#000, 0.2);
        padding: 15px 20px;
        border-radius: 0 0 10px 10px;
        display: flex;
        justify-content: center;
        background: #fbfbfb;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        .btn {
            + .btn {
                margin-left: 20px;
            }
        }
    }
}

.c-taskform {
    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &--checklist {
            flex-direction: column;
            align-items: baseline;
        }  
    }
    &__ttl {
        width: 100%;
        font-size: 1.4rem;
        line-height: 1;
        color: #262626;
        padding: 0 0 5px;
        border-bottom: 1px solid #262626;
    }
    &__input {
        width: 100%;
        display: block;
        position: relative;
        input {
            box-sizing: border-box;
            appearance: none;
            border: 2px solid #262626;
            font-size: 1.05rem;
            line-height: 1;
            border-radius: 5px;
            padding: 8px 15px;
            width: 100%;
            background: #fbfbfb;
            position: relative;
            color: #262626;
            letter-spacing: 1px;
            font-weight: 400;
            transition: 0.3s ease-in-out;
            &:focus {
                border: 2px solid #00bcd4;
                box-shadow: 4px 8px 15px rgba(#00bcd4, 0.2);
                + span {
                    top: -6px;
                    font-size: 0.8rem;
                    background: #fbfbfb;
                    color: #00bcd4;
                }
            }
            &.is-active {
                border: 2px solid #00bcd4;
                box-shadow: 4px 8px 15px rgba(#00bcd4, 0.2);
            }
        }
        span {
            display: block;
            position: absolute;
            top: calc(50% - 8px);
            left: 10px;
            font-size: 0.9rem;
            line-height: 1;
            transition: 0.2s ease-in-out;            
            padding: 0 5px;
            cursor: initial;
            color: #262626;
            font-weight: 400;
            letter-spacing: 1px;
            &.is-focus {
                top: -6px;
                font-size: 0.8rem;
                background: #fbfbfb;
                color: #00bcd4;
            }
        }
    }
    &__select {
        width: 100%;
        display: block;
        position: relative;
        textarea {
            resize: none;
            box-sizing: border-box;
            appearance: none;
            border: 2px solid #262626;
            font-size: 1.05rem;
            line-height: 1.5;
            border-radius: 5px;
            padding: 10px 15px;
            width: 100%;
            background: #fbfbfb;
            position: relative;
            color: #262626;
            letter-spacing: 1px;
            font-weight: 400;
            min-height: 200px;
            height: 100%;
            transition: 0.3s ease-in-out;
            &:focus {
                border: 2px solid #00bcd4;
                + span {
                    top: -6px;
                    font-size: 0.8rem;
                    background: #fbfbfb;
                    color: #00bcd4;
                }
            }
            &.is-active {
                border: 2px solid #00bcd4;
            }
        }
        select {
            box-sizing: border-box;
            appearance: none;
            border: 2px solid #00bcd4;
            font-size: 1.05rem;
            line-height: 1;
            border-radius: 5px;
            padding: 10px 15px;
            width: 100%;
            background: #fbfbfb;
            position: relative;
            color: #262626;
            letter-spacing: 1px;
            font-weight: 400;
            box-shadow: 4px 8px 15px rgba(#00bcd4, 0.2);
            transition: 0.3s ease-in-out;
            &.is-high {
                border: 2px solid #eb5a46;
                box-shadow: 4px 8px 15px rgba(#eb5a46, 0.2);
            }
            &.is-medium {
                border: 2px solid #f2d600;
                box-shadow: 4px 8px 15px rgba(#f2d600, 0.2);
            }
            &.is-low {
                border: 2px solid #61bd4f;
                box-shadow: 4px 8px 15px rgba(#61bd4f, 0.2);
            }
        }
        span {
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 0.9rem;
            line-height: 1;
            transition: 0.2s ease-in-out;            
            padding: 0 5px;
            cursor: initial;
            color: #262626;
            font-weight: 400;
            letter-spacing: 1px;
            &.is-focus {
                top: -6px;
                font-size: 0.8rem;
                background: #fbfbfb;
                color: #00bcd4;
            }
            &.is-high {
                color: #eb5a46;
            }
            &.is-medium {
                color: #f2d600;
            }
            &.is-low {
                color: #61bd4f;
            }
        }
    }
    &__date {
        width: calc(50% - 15px);
        position: relative;
        z-index: 3;
        &:not(:last-child) {
            margin-right: 30px;
        }
        .react-datepicker-wrapper {
            width: 100%;
        }
    }
    &__checklist {
        display: block;
        cursor: pointer;        
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        input {
            display: none;
            &:checked {
                + span {
                    &:before {
                        border: 3px solid #00bcd4;
                    }
                    &:after {
                        content: 'On';
                        background: #00bcd4;
                        left: 23px;
                        color: #fff;
                    }
                }
            }
        }
        span {
            display: block;
            text-transform: capitalize;
            padding-left: 55px;
            position: relative;
            &:before {
                content: '';
                box-sizing: border-box;
                width: 45px;
                height: 25px;
                border-radius: 15px;
                border: 3px solid rgba(#000, 0.2);
                background: #f2f2f2;
                position: absolute;
                left: 0;
                top: 0;
                transition: 0.3s ease-in-out;
            }
            &:after {
                content: 'off';
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.5rem;
                line-height: 1;
                width: 17px;
                height: 17px;
                background: rgba(#000, 0.2);
                border-radius: 50%;
                position: absolute;
                top: 4.1px;
                left: 5px;
                transition: 0.3s ease-in-out;
            }
        }
    }
    &__member {
        display: flex;
        li {
            display: block;
            width: 90px;
            margin: 20px 30px 0 0;
            input {
                display: none;
                &:checked {
                    + span {
                        color: #00bcd4;
                        figure {
                            &:before {
                                opacity: 1;
                            }
                        }
                        &:before {
                            border: 3px solid #00bcd4;
                        }
                        &:after {
                            content: 'On';
                            background: #00bcd4;
                            left: calc(50% + 3px);
                            color: #fff;
                        }
                    }                    
                }               
            }
            label {
                display: block;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                span {
                    display: block;
                    text-align: center;
                    line-height: 1;
                    transition: 0.3s ease-in-out;
                    padding-bottom: 35px;
                    &:before {
                        box-sizing: border-box;
                        content: '';
                        width: 60px;
                        height: 30px;
                        border-radius: 20px;
                        border: 3px solid rgba(#000, 0.2);
                        position: absolute;
                        left: calc(50% - 30px);
                        bottom: 0;
                        transition: 0.3s ease-in-out;
                    }
                    &:after {
                        content: 'Off';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.6rem;
                        line-height: 1;
                        color: #4f4f4f;
                        width: 22px;
                        height: 22px;
                        background: rgba(#000, 0.2);
                        border-radius: 50%;
                        position: absolute;
                        bottom: 4px;
                        left: calc(50% - 25px);
                        transition: 0.3s ease-in-out;
                    }
                    figure {
                        display: block;
                        width: 90px;
                        height: 90px;
                        margin: 0 auto 5px;
                        border-radius: 50%;
                        position: relative;
                        overflow: hidden;                
                        &:before {
                            content: 'Select';
                            font-size: 0.8rem;
                            line-height: 1;
                            color: #fff;
                            font-weight: 600;
                            letter-spacing: 0.1rem;
                            text-transform: uppercase;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: linear-gradient(90deg,rgba(#dc020d,.7),rgba(#6502f3,.7));
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;
                            opacity: 0;
                            transition: 0.3s ease-in-out;
                        }
                        img {
                            width: 100%;
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}