.c-header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(to left,#00bcd4 ,#262626);
    box-shadow: 6px 6px 20px rgba(#000, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    &__logo {
        width: 80px;
        height: 70px;
        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 50px;
        }
    }
    &__inner {
        width: calc(100% - 80px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: 1px solid #dee2e6;
        padding: 10px 20px;
    }
    &__title {
        color: #fff;
    }
}
