.p-login {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background: #01050e;
    padding: 0 10vw 0 0;
    position: relative;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: url(../images/bg/bg_login.jpg) no-repeat;
        background-size: auto 100%;
        background-position: center center;
        animation: bg-login 1s forwards ease-in-out;
        animation-delay: 0.4s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &:after {
        content: '';
        width: 300px;
        height: 100%;
        background: linear-gradient(90deg, #01050e 10%, rgba(255, 255, 255, 0));
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }
    &__title {
        color: #fff;
        font-size: 30px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-align: center;
        padding: 60px 0 50px;
        position: relative;
        &:before {
            content: '';
            width: 50px;
            height: 50px;
            background: url(../images/icon/account.png) no-repeat center;
            background-size: cover;
            border-radius: 100%;
            position: absolute;
            left: calc(50% - 25px);
            top: 0;
        }
        &:after {
            content: '';
            width: 1px;
            height: 40px;
            background: #fff;
            position: absolute;
            left: 50%;
            bottom: 0;
        }
    }
    &__form {
        width: 80%;
        max-width: 450px;
        position: relative;
        z-index: 3;
    }
}

@keyframes bg-login {
    0% {
        background-position: center center;
    }
    100% {
        background-position: center left -400px;
    }
}