.c-nav {
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
    &__item {
        overflow: hidden;
        display: block;
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        a {
            display: block;
            padding: 7px 15px 7px 5px;
            position: relative;
            transition: 0.2s ease-in-out;
            &:before {
                content: '';
                width: 4px;
                height: 100%;
                background: linear-gradient(to top, rgba(#05ffa3, 0.8), rgba(#fbfbfb, 1));
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 2px;
                transition: 0.2s ease-in-out;
                opacity: 0;
            }
            &:after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 2px;
                background: #fbfbfb;
                position: absolute;
                top: calc(50% - 5px);
                right: -5px;
                transform: rotate(45deg);
                transition: 0.2s ease-in-out;
                opacity: 0;
            }            
        }
        &:hover,
        &.is-active {
            a {
                &:before {
                    height: 0;
                }
                &:after {
                    opacity: 1;
                }
                .c-nav__icon i,
                .c-nav__name {
                    color: #05ffa3;
                }
            }
            
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        margin: 0 auto 5px;
        position: relative;
        z-index: 2;
        i {
            font-size: 1.6rem;
            line-height: 1;
            color: #fbfbfb;
            transition: 0.2s ease-in-out;
        }
    }
    &__name {
        display: block;
        text-align: center;
        font-size: 0.65rem;
        line-height: 1;
        color: #fbfbfb;
        transition: 0.2s ease-in-out;
    }
}