.l-sidebar {    
    width: 80px;
    height: calc(100% - 70px);
    max-height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: url(../images/bg/sidenav.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 6px 6px 20px rgba(#000, 0.2);
    //padding-top: 70px;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(40deg,#00bcd4 ,#262626);
        //background: rgba(#2c3e50, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}