@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: 100;
    src: url(../fonts/Roboto-Thin.ttf);
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #35c4f0;
    }
}
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeRightIn {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeRightOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

body {
    //background: linear-gradient(0deg,#285a71 0,#eedfc6 100%);
    background: #fbfbfb;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 6px;    
}
 
::-webkit-scrollbar-track {
    background: linear-gradient(40deg,#262626, #00bcd4);
}
 
::-webkit-scrollbar-thumb {
    background: linear-gradient(40deg,#00bcd4 ,rgba(#fff,0));
    border-radius: 3px;
}

@import 'reset';
@import 'Header';
@import 'Login';
@import 'Nav';
@import 'Sidebar';
@import 'AddTask';
@import 'Tasks';


// Layout ================================================================
.l-main {
    min-height: 100vh;
    padding: 90px 20px 20px 100px;
    background: #fbfbfb;
}
.l-content {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(#000, 0.2);
    padding: 20px;
}

.btn {
    font-size: 1rem;
}

.c-form {
    width: 100%;
    padding: 50px;
    box-shadow: 15px 15px 30px rgba(255, 255, 255, .3);
    border-radius: 0 0 15px 15px;
    &__row {
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 8px;
            box-sizing: border-box;
            transition: 0.3s ease-in-out;
        }
        &:hover {
            &:after {
                animation: pulse 1s;
                box-shadow: 0 0 0 2em rgba(#fff, 0);
            }
        }
        + .c-form__row {
            margin-top: 30px;
        }
        input {
            appearance: none;
            box-sizing: border-box;
            width: 100%;
            background: rgba(53,196,240,.2);
            color: #fff;
            font-size: 20px;
            line-height: 1;
            border: 2px solid rgba(255, 255, 255, .8);
            border-radius: 8px;
            padding: 10px 20px;
            letter-spacing: 1.5px;
            transition: 0.3s ease-in-out;
            min-height: 54px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            &::placeholder {
                color: #35c4f0;
            }
            &:focus {
                border: 2px solid #35c4f0;
                background: rgba(0, 0, 0, .4);
            }
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        button {
            appearance: none;
            font-weight: 600;
            font-size: 16px;
            color: #fff;
            background: rgba(53,196,240,.2);
            width: auto;
            min-width: 150px;
            cursor: pointer;
            margin: 0 10px;
            border: none;
            padding: 15px 20px;
            border-radius: 8px;
            position: relative;
            transition: 0.3s ease-in-out;
            letter-spacing: 1.5px;
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border: 2px solid rgba(255, 255, 255, .8);
                border-radius: 8px;
                box-sizing: border-box;
                transition: 0.3s ease-in-out;
            }
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 8px;
                box-sizing: border-box;
                transition: 0.3s ease-in-out;
            }
            span{
                position: relative;
                z-index: 2;
            }
            &:hover {
                color: #35c4f0;
                background: rgba(0, 0, 0, .4);
                &:before {
                    border: 2px solid #35c4f0;
                }
                &:after {
                    animation: pulse 1s;
                    box-shadow: 0 0 0 2em rgba(#fff, 0);
                }
            }
        }
    }
}

.c-user {
    display: flex; 
    align-items: center;
    position: relative;
    .btn {
        border-width: 0.2rem;
        margin-left: 1.5rem;
    }
    &__avatar {
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 2px 5px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);
        //background: linear-gradient(40deg,#2096ff,#05ffa3);
        padding: 0px;
        cursor: pointer;
        position: relative;
        &:before {
            content: '\f4fe';
            font-family: "Font Awesome 5 Free";
            color: #fbfbfb;
            font-size: 2rem;
            line-height: 1;
            font-weight: 600;
            width: 100%;
            height: 100%;
            background: linear-gradient(40deg,#da000d, #6100f6);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            vertical-align: middle;            
            border-radius: 50%;
            opacity: 0;
            transform: scale(0);
            transition: all .3s ease-in-out;
        }        
        img {
            width: 100%;
            border-radius: 50%;
            transition: .3s ease-in-out;
        }
        &:hover {
            &:before {
                opacity: .8;
                transform: scale(1);
            }
            img {
                transform: scale(0);
                opacity: 0;
            }
        }
    }
    &__name {
        display: none;
        font-size: 2.8rem;
        line-height: 1;
        color: #35c4f0;
        text-align: center;
        margin-top: 16px;
        text-transform: uppercase;
    }
}

.c-checklist {
    width: 100%;
    padding-top: 20px;
    li {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        label {
            width: calc(100% - 50px);
            padding-right: 25px;
        }
    }
    &__remove {
        padding: 6px 15px;
    }
}

.c-tasks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    &__item {
        width: 25%;
        max-width: 290px;
        margin: 30px 15px 54px;
        border-radius: 20px;
        background: #fbfbfb;
        box-shadow: 1px 3px 10px rgba(#00bcd4, 0.2);
        border: 1px solid rgba(#00bcd4, 0.2);
        position: relative;
        &:before,
        &:after {
            content: '';
            width: 85%;
            height: 6px;
            background: rgba(#00bcd4, 0.4);
            border-radius: 3px;
            position: absolute;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
            box-shadow: 1px 3px 6px rgba(#00bcd4, 0.2);
        }
        &:after {
            width: 70%;
            bottom: -24px;
        }
        a {
            color: #262626;
        }
    }
    &__rank {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        line-height: 1;
        color: #fff;
        text-transform: capitalize;
        background: #00bcd4;
        border-radius: 50%;
        box-shadow: 1px 3px 6px rgba(#000, 0.3);
        position: absolute;
        left: calc(50% - 61px);
        top: -30px;
        &.is-high {
            background: #eb5a46;
            box-shadow: 1px 5px 10px rgba(#eb5a46, 0.3);
        }
        &.is-medium {
            background: #f2d600;
            box-shadow: 1px 5px 10px rgba(#f2d600, 0.3);
            font-size: 0.8rem;
        }
        &.is-low {
            background: #61bd4f;
            box-shadow: 1px 5px 10px rgba(#61bd4f, 0.3);
        }
    }
    &__status {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        line-height: 1;
        color: #fff;
        text-transform: capitalize;
        background: #00bcd4;
        border-radius: 50%;
        box-shadow: 1px 3px 6px rgba(#00bcd4, 0.3);
        position: absolute;
        left: calc(50% + 1px);
        top: -30px;
    }
    &__title {
        text-align: center;
        font-size: 1.2rem;
        padding: 35px 15px 5px;
    }
    &__date {
        text-align: center;
        font-size: 0.8rem;
        i {
            margin: 0 20px;
        }
    }
    &__progress {
        padding: 15px;        
        p {
            font-size: 0.8rem;
            line-height: 1;
            text-align: left;
            &:nth-of-type(2) {
                text-align: right;
            }
        }
    }
    &__bar {
        width: 100%;
        height: 6px;
        margin: 5px 0;
        position: relative;
        span {
            display: block;
            height: 6px;
            border-radius: 3px;
            background: linear-gradient(90deg, #00bcd4 0%, #fded2d 50%, #fd2d2d 100%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            &:nth-child(2) {
                width: 100%;
                background: #ccc;
                z-index: 1;
            }
        }
    }
    &__footer {
        border-top: 1px solid rgba(#000, 0.2);
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__time {
        display: block;
        font-size: 0.8rem;
        line-height: 1;
        color: #fff;
        background: #00bcd4;
        padding: 10px 15px;
        border-radius: 15px;
        box-shadow: 1px 3px 6px rgba(#000, 0.2);
    }
    &__user {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
        blockquote {
            width: 32px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 11;
            background: rgba(#00bcd4, .5);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 0.8rem;
        }
        span {
            box-sizing: border-box;
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: linear-gradient(90deg, rgba(220, 2, 13, 0.7), rgba(101, 2, 243, 0.7));
            transition: 0.3s ease-in-out;
            overflow: hidden;
            padding: 2px;
            position: relative;
            z-index: 10;
            + span {
                margin-left: -8px;
            }
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                
                position: absolute;
                top: 0;
                left: 0;
            }
            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
        }
    }
}

.c-timeup {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    span {
        display: inline-block;
        line-height: 1;
        font-weight: bold;
    }
    &__time {
        font-size: 2rem;        
        color: #00bcd4;        
    }
    &__no {
        color: #262626;
        font-size: 1.4rem;
        margin: 0 7px;
    }
    &__btn {
        width: 100%;
        margin-top: 10px;
    }
}
.c-countdown {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    li {
        text-align: center;
        color: #00bcd4;
        font-size: 3rem;
        line-height: 1;
        margin: 0 8px;
        span {
            text-align: center;
            font-size: 0.9rem;
            color: #262626;
        }
    }
}