.p-tasks {
    &__control {
        margin-bottom: 20px;
    }
}

.p-task {
    &__progress {
        width: 100%; 
        position: relative;
        margin-bottom: 20px;
        span {
            display: block;
            height: 10px;
            border-radius: 3px;
            background: linear-gradient(90deg, #00bcd4 0%, #fded2d 50%, #fd2d2d 100%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            transition: 0.5s ease-in-out;
            &:nth-child(2) {
                width: 100%;
                background: #ccc;
                z-index: 1;
            }
        }    
        p {
            font-size: 0.8rem;
            line-height: 1;
            text-align: right;
            padding-top: 13px;
        }
    }
    &__time {
        width: 100%;
        text-align: center;
        margin: 0 0 30px;
    }
    &__control {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
        .btn {
            text-transform: capitalize;
            padding: 11px 30px;
            color: #fff;
            border: 2px solid #00bcd4;
            min-height: 50px;
            transition: 0.3s ease-in-out;
            &.low  {                
                border: 2px solid #61bd4f;
                background: #61bd4f;
                box-shadow: 0 4px 10px 0 rgba(#61bd4f,.2), 0 4px 20px 0 rgba(#61bd4f,.1);
                margin-right: 30px;
                &:hover {
                    box-shadow: 0 8px 20px 0 rgba(#61bd4f,.2), 0 8px 20px 0 rgba(#61bd4f,.1);
                }
            }
            &.medium  {                
                border: 2px solid #f2d600;
                background: #f2d600;
                box-shadow: 0 4px 10px 0 rgba(#f2d600,.2), 0 4px 20px 0 rgba(#f2d600,.1);
                margin-right: 30px;
                &:hover {
                    box-shadow: 0 8px 20px 0 rgba(#f2d600,.2), 0 8px 20px 0 rgba(#f2d600,.1);
                }
            }
            &.high  {                
                border: 2px solid #eb5a46;
                background: #eb5a46;
                box-shadow: 0 4px 10px 0 rgba(#eb5a46,.2), 0 4px 20px 0 rgba(#eb5a46,.1);
                margin-right: 30px;
                &:hover {
                    box-shadow: 0 8px 20px 0 rgba(#eb5a46,.2), 0 8px 20px 0 rgba(#eb5a46,.1);
                }
            }
            &.open,
            &.process {
                background: #00bcd4;
                box-shadow: 0 4px 10px 0 rgba(#00bcd4,.2), 0 4px 20px 0 rgba(#00bcd4,.1);
            }
            &.fixing {
                background: #cd8313;
                box-shadow: 0 4px 10px 0 rgba(#cd8313,.2), 0 4px 20px 0 rgba(#cd8313,.1);
            }
            &.checking {
                background: #c9558f;
                box-shadow: 0 4px 10px 0 rgba(#c9558f,.2), 0 4px 20px 0 rgba(#c9558f,.1);
            }
            &.completed {
                background: #4bbf6b;
                box-shadow: 0 4px 10px 0 rgba(#4bbf6b,.2), 0 4px 20px 0 rgba(#4bbf6b,.1);
            }
        }
        .dropdown {            
            .dropdown-menu {
                li {
                    cursor: pointer;
                }
                &.low {
                    border: 2px solid #61bd4f;
                    li {
                        + li {
                            border-top: 2px solid #61bd4f;
                        }
                        &:hover {
                            background: rgba(#61bd4f,.2);
                        }
                    }
                }
                &.medium {
                    border: 2px solid #f2d600;
                    li {
                        + li {
                            border-top: 2px solid #f2d600;
                        }
                        &:hover {
                            background: rgba(#f2d600,.2);
                        }
                    }
                }
                &.high {
                    border: 2px solid #eb5a46;
                    li {
                        + li {
                            border-top: 2px solid #eb5a46;
                        }
                        &:hover {
                            background: rgba(#eb5a46,.2);
                        }
                    }
                }
                &.open,
                &.process {
                    border: 2px solid #00bcd4;
                    li {
                        + li {
                            border-top: 2px solid #00bcd4;
                        }
                        &:hover {
                            background: rgba(#00bcd4,.2);
                        }
                    }
                }
                &.fixing {
                border: 2px solid #cd8313;
                    li {
                        + li {
                            border-top: 2px solid #cd8313;
                        }
                        &:hover {
                            background: rgba(#cd8313,.2);
                        }
                    } 
                }
                &.checking {
                border: 2px solid #c9558f;
                    li {
                        + li {
                            border-top: 2px solid #c9558f;
                        }
                        &:hover {
                            background: rgba(#c9558f,.2);
                        }
                    } 
                }
                &.completed {
                border: 2px solid #4bbf6b;
                    li {
                        + li {
                            border-top: 2px solid #4bbf6b;
                        }
                        &:hover {
                            background: rgba(#4bbf6b,.2);
                        }
                    } 
                }
            }
        }
    }
    &__title {
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }    
    &__date {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;        
        b {
            color: #262626;
            margin-right: 10px;
            font-size: 1rem;
        }
        span {
            color: #00bcd4;
            + span {
                margin-left: 30px;
            }
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &__block {
        width: calc(25% - 30px);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(#00bcd4, 0.2);
        padding: 20px;
        margin: 0 15px 30px;
        &--full {
            width: 100%;
            margin-bottom: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            th,
            td {
                border: 1px solid rgba(#00bcd4, 0.2);
                padding: 8px 20px;
                font-size: 0.9rem;
            }
            th {
                background: rgba(#00bcd4, 0.2);
            }
        }
    }
    &__ttl {
        border-bottom: 1px solid rgba(#000, 0.2);
        font-size: 1.4rem;
        line-height: 1;
        padding-bottom: 8px;
        margin-bottom: 15px;
    } 
    &__member {
        display: flex;
        justify-content: center;
        margin-top: 15px;        
        li {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            + li {
                margin-left: 2px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    &__todo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 10px;
            input {
                display: none;
                margin: 0;
                width: 16px;
                height: 16px;
                background: #00bcd4;
                &:disabled {
                    + span {
                        text-decoration: line-through;
                        color: #00bcd4;
                        cursor: default;
                    }
                }
                &:checked {
                    + span {
                        color: #00bcd4;
                        text-decoration: line-through;
                        &:before {
                            border: 3px solid #00bcd4;
                        }
                        &:after {
                            background: #00bcd4;
                            left: 20px;
                        }
                    }
                }
            }
            span {
                padding-left: 50px;
                display: inline-block;
                font-size: 1rem;
                &:before {
                    box-sizing: border-box;
                    content: '';
                    width: 35px;
                    height: 20px;
                    border: 3px solid #ccc;
                    border-radius: 10px;
                    position: absolute;
                    top: 2.5px;
                    left: 0;
                    transition: 0.3s ease-in-out;
                }
                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #ccc;
                    border-radius: 50%;
                    position: absolute;
                    left: 5px;
                    top: 7.5px;
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}